@import "normalize.css";
@import "bootstrap/scss/bootstrap";

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    @extend .container-fluid;
    padding: 0 2%;
}
 
.trame {
    margin-top: 1%;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

textarea {
    resize: none;
    height: calc(50vh - 60px);
}

.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;

    .options {
        display: flex;
        gap: 1em;
        justify-content: space-around;
    }
}

@media (min-width: 768px) {
    .box {
        width: 48%;
        height: 95vh;
    }

    textarea {
        height: calc(100% - 80px);
    }
}
